name: delivery backend

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "backend/**"

jobs:
  delivery:
    runs-on: [self-hosted]
    steps:
      - name: clone repository
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: ">=1.20.0"

      - name: build
        run: |
          cd backend
          docker build -t ghcr.io/h-orito/wolfort-games-backend .
      - name: deploy
        run: |
          docker login ghcr.io -u h-orito -p ${{ secrets.PACKAGE_PAT }}
          docker push ghcr.io/h-orito/wolfort-games-backend
      - name: release
        run: |
          kubectl delete pod -l app=wolfort-games-backend
